:root {
    --input-background: #ffffff;
    --background-button-purple: #9DA0DF;
}

.banner-my-product {
    height: 22rem;
    margin-bottom: 25px;
}

.title-marks-my-products {
    font-size: 45px;
    font-weight: 700;
    padding-top: 60px;
    padding-left: 100px;
    margin: 0;
    font-family: 'Inter', serif;
    line-height: 36px;
    color: #9DA0DF;
    text-align: initial;




}

.paragraph {
    font-family: 'Inter', serif;
    color: white;
    font-size: 25px;
    Line-height: 30.26px;
    padding-left: 100px;
    text-align: initial;
    padding-top: 50px;
    font-weight: 600;

}

.borderRadiusCardHeaderMenu {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background: white;
    border: none !important;
    padding: 0px;
}

.styleTitleCardMenu {
    font-size: 25px;
    font-family: "OpenSansCondensed-bold";
    text-align: center;
    color: #9DA0DF;
}

.styleSubTitleCardMenu {
    text-align: initial;
    font-family: OpenSans-light;
    font-size: 15px;
    text-align: center;

}
.styleTitleCardComments{
    font-size: 25px;
    font-family: "OpenSansCondensed-bold";
    text-align: initial;
    color: #9DA0DF;
    margin-left: 20px;
    

}

.styleSubTitleCardComments{
    text-align: initial;
    font-family: OpenSans-light;
    font-size: 15px;
    padding: 0 0 0 0;
  

}

.card-my-product {
    width: 74%;
    margin: 25px auto;
    height: 250px;
}

.card-header-my-product {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.card-header-my-product>img {
    width: 60%;
    height: 132px;
}

.card-header-my-product>span {
    margin-bottom: 39px !important;
    padding-top: 13px;
    width: 59px;
    height: 59px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    font-family: 'Inter', serif;
    border: none !important;
    box-shadow: none !important;
    outline: none;

    background: var(--input-background);
    appearance: auto;

}

.card-header-my-product>span::-webkit-inner-spin-button {
    padding-bottom: 10px;
}

.card-header-my-product>span::-webkit-inner-spin-button,
.card-header-my-product>input[type=number]::-webkit-outer-spin-button {
    background: var(--background-button-purple);
}

.card-footer-my-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info-my-product {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', serif;
    font-size: 22px;
    font-weight: 700;
    align-items: flex-start;
}

.button-more-my-product {
    width: 50px;
    font-weight: 700;
    font-size: 33px;
    padding: 0;
    background: var(--background-button-purple);
    border: none;
}

.button-more-my-product:hover,
.button-more-my-product:focus {
    box-shadow: none;
    background: var(--color-font-button-purple);
    color: var(--background-button-purple);
    border: 2px solid var(--background-button-purple);
}

.button-edit-product {
    margin-top: -93px;
    margin-right: 12px;
    width: 34px;
}


.button-delete-product {
    margin-top: -29px;
    margin-right: 12px;
    width: 34px;
}

.Undo-Button {
    display: block;
    background: none;
    border: none;
    padding-top: 50px;
    padding-left: 30px;
    width: 500px;


    
}

.Undo-Button img {
    display: block;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 100px;
}

.top-Productos {
    display: flex;


}

.title-Products {
    font-size: 50px;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 15px;
    margin: 0;
    font-family: 'Inter', serif;
    line-height: 36px;
    color: #9DA0DF;
    text-align: initial;

}

.description-Products {
    padding-top: 20px;
    display: flex;
    margin-left: auto;


}

.paragraf-products {
    color: #ffffff;
    text-align: left;
    left: 452px;
    top: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;


}
.second-Title {
    
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    padding-top: 0px;
    

}

.buttoncrear-products {


    margin: auto;
    width: 8rem;
    border-radius: 0rem;
    border: 2px solid #9DA0DF;
    font-weight: bold;
    transition: 350ms;
    align-content: center;

    background: #9DA0DF;
    width: 200px;
    height: 50px;


    margin-right: 0;

}

.buttonSave {


    margin: auto;
    width: 8rem;
    border-radius: 0rem;
    border: 2px solid #9DA0DF;
    font-weight: bold;
    transition: 350ms;
    align-content: center;

    background: #9DA0DF;
    width: 200px;
    height: 50px;


    margin-right: 0;
    margin-top: 90px;
    margin-left: 35%;

}

.subtitle{


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-top: 0;

text-align: start;
color: #ffffff;

}

.buttoncrear-discounts {


    margin: auto;
    margin-top: 1px;
    width: 8rem;
    border-radius: 0rem;
    border: 2px solid #9DA0DF;
    font-weight: bold;
    transition: 350ms;
    align-content: center;

    background: #9DA0DF;
    width: 200px;
    height: 50px;


    margin-right: 0;

}

.inputSelectProducts{
    font-size: 16px;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    border: 1px solid var(--azul-oscuro);
    background-color: var(--blanco);
    border-radius: 30px;
    outline: none;
    width: 540px;
    height: 50px;
    display:grid;
    color: var(--azul-oscuro);
}
.inputDiscounts {
    font-size: 16px;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    border: 1px solid var(--azul-oscuro);
    background-color: var(--blanco);
    border-radius: 30px;
    outline: none;
    width: 400px;
    height: 50px;
    flex: 1;
    text-align: left;
    
    
  }
  
  .inputDiscounts {
    transition: 180ms box-shadow ease-in-out;
  }



@media screen and (min-width:3.125rem) and (max-width:47.938rem) {
    .banner-my-product {
        height: 160px;
    }

    .title-marks-my-products {
        font-size: 25px;
        line-height: 26px;
        color: #9DA0DF;
        position: absolute;
    }

    .card-my-product {
        width: 78%;
        margin: 8px 0px 0px 0px;
    }

    .card-info-my-product {
        font-size: 20px;
    }

    .title-marks-my-products {
        width: 83%;
    }
}