@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

@font-face {
  font-family: "OpenSans-regular";
  src: url(assets/font/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-light";
  src: url(assets/font/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSansCondensed-bold";
  src: url(assets/font/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf);
}
@font-face {
  font-family: "OpenSansCondensed-light";
  src: url(assets/font/OpenSans_Condensed/OpenSans_Condensed-Light.ttf);
}
@font-face {
  font-family: "TimeNewRoman-bold";
  src: url(assets/font/Times_New_Roman/times_new_roman.ttf);
}

:root {
  --blue-extra-light-color: #c2e8fe;
  --background-color: #ddf1fc;
  --red-light-color: #a6d2eb;
  --blue-color: #61dafb;
  --second-red-color: #137eba;
  --blue-dark-2-color: #adcfe2;
  --green-button: #2888FF;
  --red-button: #2888FF;
  /* NEW COLORS */
  --bg-red: #A6D2EB;
  --red-color: #2888FF;
  --red-light-color: #A6D2EB;
  --second-red-color: #2888FF;
  --red-dark-color: #000000;
  --green-color: #52f500;
  --yellow-color: #28ff28;

  /* colores */
  --lila:#9DA0DF;
  --azul:#A6D2EB;
  --azul-oscuro: #2888FF;
  --blanco: #ffffff;

}

body {
  /* font-family: "OpenSans-regular"; */
  font-family: 'Inter';
}

/* .background-red {
  background-color: var(--bg-red);
} */


.full-width {
  max-width: 100%;
  background: linear-gradient(to right,
  var(--azul) 0%,
  var(--azul)75%,
  var(--lila) 75%,
  var(--lila) 100%);

}
.image-size {
  width: 565px;
  height: 591px;
}

.panel-white {
  width: 556px;
  height: 636px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.panel-white-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 75.27px;
  margin-top: 33px;
  margin-bottom: 54px;
}

h1 {
  padding-top: 50px;
  position: static;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;

}
.input-icon {
   
  width: 44px;
  height: 53px;
  margin-right: 8px;
  display: inline-flex;
}

.col-height {
  padding: 0px 100px;
}

.header {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Inicio de Estilos para HomeIn */
.titleHomeIn {
  font-family: "OpenSansCondensed-bold";
  font-size: 45px;
  text-align: initial;
}
.subtitleHomeIn {
  font-family: "OpenSansCondensed-light";
  font-size: 25px;
  text-align: initial;
}
.styleImgCardHomeIn {
  width: 36%;
  margin: auto;
}
.styleImgSecondCardHomeIn {
  width: 68%;
  margin: auto;
}
.styleTitleCard {
  font-size: 25px;
  font-family: "OpenSansCondensed-bold";
  text-align: initial;
}
.styleSubTitleCard {
  text-align: initial;
  font-family: OpenSans-light;
  font-size: 15px;
}
.borderRadiusCardHeader {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background: var(--bg-red);
}
/* Fin de Estilos para HomeIn */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOGIN, REGISTER AND RECOVER PASSWORD COMMON STYLES */


.main__title,
.main__description {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.main__title {
  font-size: 48px;
  font-weight: bold;
  margin: 70px 0px;
}

.main__description {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 100px;
}

.main__image {
  margin-top: 100px;
}

.main__text {
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 50px;
}

.last-input-margin {
  margin-top: 40px;
}

.login__recover-password-link {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin:10px 0px;
  padding-top: 40px;
  line-height: 29px;
}

.login__without-account {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 24px;
  color: black;
}

.recover-password__text {
  font-size: 21px;
  margin-top: 40px;
  margin-bottom: 70px;
  line-height: 22px;
}

.recover-password__button-margin {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* COMMON STYLES */
a {
  display: inline-block;
  color: var(--red-color);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

a:hover {
  color: var(--red-dark-color);
  transition: 0.2s;
}

.box-green {
  border: 1px solid var(--green-color);
  border-radius: 16px;
}

.box-green > p {
  margin: 30px 20px;
}

.box-green .link-green {
  color: var(--green-color);
  text-decoration: underline;
  font-weight: lighter;
}

.label-input {
  font-size: 14px;
  text-align: left;
}

.input {
  font-size: 16px;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  border:  1px solid var(--azul-oscuro);
  background-color: var(--blanco);
  border-radius: 30px;
  outline: none;
  width: 400px;
  height: 50px;
  flex: 1;
}

.input {
  transition: 180ms box-shadow ease-in-out;
}

.input:focus {
  border-color: var(--red-color);
  outline: 3px solid transparent;
  background-color: white;
  transition: 0.2s;
}

.flex-inputs {
  display: block;
  flex-direction: column;
}

.input::placeholder {
  color: var(--second-red-color);
}

.button-red {
  background-color: var(--lila);
  color: var(--blanco);
  border: none;
  padding: 0.5rem;
  margin-top: 60px;
  width: 253px;
  height: 63px;
  transition: 350ms;
  border: 1px solid var(--lila);
  font-family: 'Inter', 'Serif';
  font-size: 24px;
  font-weight: 700;
}

.button-red:hover {
  background-color: white;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.button-green {
  background-color: var(--green-button);
  color: white;
  border: none;
  padding: 0.5rem;
  width: 15rem;
  font-weight: bold;
  transition: 350ms;
  border: 1px solid var(--green-button);
}

.button-green:hover {
  background-color: white;
  color: var(--green-button);
  border: 1px solid var(--green-button);
}

.button-white {
  background-color: white;
  color: var(--red-color);
  border: none;
  padding: 0.5rem;
  width: 15rem;
  font-weight: bold;
  transition: 350ms;
  border: 1px solid var(--red-color);
}

.button-white:hover {
  background-color: var(--red-color);
  color: white;
  border: 1px solid white;
}

.container-lists {
  background-color: var(--red-light-color);
  border-radius: 1rem;
  border: 1px solid var(--second-red-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.element {
  margin: 2rem 1.7rem;
  background-color: var(--blue-extra-light-color);
  border-radius: 1rem;
  border: 1px solid var(--second-red-color);
}

.element-title {
  font-family: "OpenSansCondensed-bold";
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.element-subtitle:last-child {
  margin-bottom: 1rem;
}

.button-edit {
  display: block;
  margin: auto;
  width: 8rem;
  border-radius: 1rem;
  border: 2px solid var(--green-button);
  color: var(--green-button);
  font-weight: bold;
  transition: 350ms;
  padding: 0.2rem 0;
}

.button-edit:hover {
  background-color: var(--green-button);
  border: 2px solid var(--green-button);
  color: white;
}

.button-edit-yellow {
  display: block;
  margin: auto;
  width: 8rem;
  border-radius: 1rem;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  font-weight: bold;
  transition: 350ms;
  padding: 0.2rem 0;
}

.button-edit-yellow:hover {
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  color: white;
}

.button-delete {
  display: block;
  margin: auto;
  width: 8rem;
  border-radius: 1rem;
  border: 2px solid var(--red-button);
  color: var(--red-button);
  font-weight: bold;
  transition: 350ms;
  padding: 0.2rem 0;
}

.button-delete:hover {
  background-color: var(--red-button);
  border: 2px solid var(--red-button);
  color: white;
}

.horizontal-list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
}

.horizontal-list > div > p {
  text-align: left;
}

.without-margin {
  margin: 0 !important;
}

.margin-top-for-all {
  margin-top: 3rem;
}

.btn-finish {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-create-branding > .margin-btn {
  margin-top: 1.7rem;
}

.text-validate {
  color: #006ef5;
  text-align: initial;
  font-size: 13px;
}

.h-100-vh {
  height: 100vh;
}

/*Mobile*/
@media screen and (min-width:3.125rem) and (max-width:47.938rem) {
  .d-none-mobile {
    display: none;
  }

  .image-size {
    display: none;
  }

  .panel-white {
    width: 90%;
    height: 70vh;
  }

  .panel-white > .card-body {
    overflow: auto;
  }

  .panel-white-title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-inputs-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .input-icon {
    width: 30px;
    height: 30px;
  }

  .input {
    width: 100%;
    height: 40px;
  }

  .last-input-margin {
    margin-top: 20px;
  }

  .button-red {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
  }

  .login__recover-password-link {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .login__without-account {
    width: 100%;
    font-size: 20px;
  }

  a {
    width: 100%;
    font-size: 20px;
  }
}